@font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    display: swap;
}

@font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Bold.ttf);
    font-weight: 700;
    font-style: normal;
    display: swap;
}

* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: "Anonymous Pro", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F1F1F1;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #A1A6B4;
    background: white;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1140px;
    margin: 24px 0 24px;
}

.logo-link {
    max-width: 215px;
}

nav {
    display: flex;
}

.nav-list {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 24px;
}

.nav-item {
    display: inline;
}

.nav-link {
    color: #121723;
    font-size: 20px;
    font-weight: 700;
}

.content {
    margin: 32px 0;
    max-width: 1140px;
}

h1 {
    font-size: 48px;
}

.sneakers a {
    text-decoration: none;
    color: black;
}

.sneakers {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin: 32px 0 0;
}


.sneaker {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 364px;
    height: 100%;
    border-radius: 12px;
    background: white;
}

.sneaker-image {
    width: 100%;
}

.sneaker-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    padding: 32px 24px;
}

h3 {
    font-size: 26px;
}

p {
    font-size: 20px;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #121723;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1140px;
    margin: 32px 0;
}

.footer__logo-link {
    max-width: 300px;
    width: 100%;
}

footer .nav-link {
    color: white;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1140px;
    border-top: 1px solid #A1A6B4;
}

.copyright-text {
    color: #A1A6B4;
    font-size: 16px;
    font-weight: 700;
    margin: 24px 0;
}

.sneaker:hover {
    transform: translate(-10px, -5px);
    box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.25);
}

.box {
    width: 1140px;
    height: 1588px;
    padding: 48px;
    border-radius: 50px;
    gap: 32px;
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.foto img {
    height: 600px;
    width: 1044px;
    max-width: 100%;
    max-height: 100%;
}

.card {
    width: 100%;
    height: 100%;
    background-color: #E6E8EC66;
}

.card h3 {
    font-family: "Anonymous Pro", sans-serif;
    font-size: 48px;
}

.card h4 {
    font-family: "Anonymous Pro", sans-serif;
    font-size: 36px;
}

.res {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    margin-top: -20px;
}


.histori {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start
}

.cros {
    display: flex;
}

.res hr {
    width: 506px;
}

h5 {
    display: flex;
    align-self: flex-start;
    font-size: 30px;
    margin-bottom: 20px;
}

.histori p {
    margin-top: 30px;
}

.res p {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 16px;
    }


    .box {
        width: 100%;
        height: auto;
        border-radius: 0;
    }

    .foto img {
        height: auto;
        width: 100%;
    }

    .card {
        height: auto;
        display: flex;
    }

    .res,
    .histori,
    .cros,
    .res hr {
        width: 100%;
    }

    .nav-list {
        align-items: center;
    }

    .header-container {
        flex-direction: column;
        align-items: center;
    }

    .logo-link {
        margin-bottom: 12px;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer__logo-link {
        margin-bottom: 12px;
    }



}